.header__container {
  background: #455A64;
  width: 100%;
}
.header__wrapper {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
}
.header__title {
  font-size: 42px;
  color: rgba(255,255,255,.7);
  cursor: pointer;
}
input {
  color: rgba(255,255,255,.7);
}